* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #111;
	color: #fff;
	padding: 20px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

h1 {
	margin-bottom: 20px;
}
